In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
import numpy as np

### Creamos y cargamos el dataset Denuncias_y_reclamos_202306 en MySql

In [5]:
denuncias_reclamos = pd.read_csv('C:\Soy-Henry\Telecomunicaciones\Data\Denuncias_y_reclamos_202306.csv')
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS Denuncias_y_reclamos_202306')
    cursor.execute('CREATE TABLE Denuncias_y_reclamos_202306 (Servicio VARCHAR(255), Cantidad INT)')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in denuncias_reclamos.iterrows():
        cursor.execute("INSERT INTO Denuncias_y_reclamos_202306 (Servicio, Cantidad) VALUES (%s, %s)",
                       (row['Servicio'], row['Cantidad']))
    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

### Creamos y cargamos el dataset internet_fijo_poblacion_hogar en MySql

In [19]:
internet_fijo_poblacion_hogar = pd.read_csv('C:\Soy-Henry\Telecomunicaciones\Data\internet_fijo_poblacion_hogar.csv')
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS internet_fijo_poblacion_hogar')
    cursor.execute('CREATE TABLE internet_fijo_poblacion_hogar (Año smallint ,Trimestre smallint, Accesos_100_hogares Float(6.2) ,Accesos_100_hab Float(6.2), Periodo VARCHAR(255))')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in internet_fijo_poblacion_hogar.iterrows():
        cursor.execute("INSERT INTO internet_fijo_poblacion_hogar (Año,Trimestre,Accesos_100_hogares, Accesos_100_hab, Periodo) VALUES (%s, %s, %s, %s, %s)",
                       (row['Año'], row['Trimestre'], row['Accesos por cada 100 hogares'], row['Accesos por cada 100 hab'], row['Periodo']))
    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

### Creamos y cargamos el dataset ingreso_internet_fijo_trimestral en MySql

In [21]:
ingreso_internet_fijo_trimestral = pd.read_csv('C:\Soy-Henry\Telecomunicaciones\Data\ingreso_internet_fijo_trimestral.csv')
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS ingreso_internet_fijo_trimestral')
    cursor.execute('CREATE TABLE ingreso_internet_fijo_trimestral (Año smallint ,Trimestre smallint, ingresos_tri Float(6.2) , Periodo VARCHAR(255))')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in ingreso_internet_fijo_trimestral.iterrows():
        cursor.execute("INSERT INTO ingreso_internet_fijo_trimestral (Año,Trimestre,ingresos_tri, Periodo) VALUES (%s, %s, %s, %s)",
                       (row['Año'], row['Trimestre'], row['Ingresos (miles de pesos)'], row['Periodo']))
    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

### ### Creamos y cargamos el dataset internet_rango_vel  en MySql

In [27]:
internet_rango_vel = pd.read_csv('C:\Soy-Henry\Telecomunicaciones\Data\internet_rango_vel.csv')
internet_rango_vel = internet_rango_vel.astype("string", errors="ignore")
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS internet_rango_vel')
    cursor.execute('CREATE TABLE internet_rango_vel (Año int ,Trimestre int, 512kbps int, E_512Kbps_1Mbps int, E_1Mbps_6Mbps int ,E_6_10Mbps int, E_10_20Mbps int, E_20_30Mbps int, Mas_30Mbps int ,OTROS int)')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in internet_rango_vel.iterrows():
        cursor.execute("INSERT INTO internet_rango_vel (Año,Trimestre,512kbps,E_512Kbps_1Mbps,E_1Mbps_6Mbps,E_6_10Mbps,E_10_20Mbps,E_20_30Mbps,Mas_30Mbps,OTROS) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)",
                        (row['Año'], row['Trimestre'], row['Hasta 512 kbps'], row['Entre 512 Kbps y 1 Mbps'], row['Entre 1 Mbps y 6 Mbps'], row['Entre 6 Mbps y 10 Mbps'], row['Entre 10 Mbps y 20 Mbps'], row['Entre 20 Mbps y 30 Mbps'], row['Más de 30 Mbps'], row['OTROS']))

    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

### ### Creamos y cargamos el dataset internet_tecno_nacional  en MySql

In [30]:
internet_tecno_nacional = pd.read_csv('C:\Soy-Henry\Telecomunicaciones\Data\internet_tecno_nacional.csv')
#internet_tecno_nacional = internet_tecno_nacional.astype("string", errors="ignore")
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS internet_tecno_nacional')
    cursor.execute('CREATE TABLE internet_tecno_nacional (Año int ,Trimestre int, ADSL int, Cablemodem int, Fibrao int ,Wireless int, Otros int, Total int, Periodo varchar(50))')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in internet_tecno_nacional.iterrows():
        cursor.execute("INSERT INTO internet_tecno_nacional (Año,Trimestre, ADSL, Cablemodem, Fibrao,Wireless, Otros, Total, Periodo) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)",
                        (row['Año'], row['Trimestre'], row['ADSL'], row['Cablemodem'], row['Fibra óptica'], row['Wireless'], row['Otros'], row['Total'], row['Periodo']))

    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

### Creamos la tabla y cargamos el dataset veloc_media_nacional en MySql

In [32]:
#veloc_media_nacional
# Año,Trimestre,Mbps (Media de bajada),Trimestre.1
veloc_media_nacional = pd.read_csv('C:/Soy-Henry/Telecomunicaciones/Data/veloc_media_nacional.csv')
#internet_tecno_nacional = internet_tecno_nacional.astype("string", errors="ignore")
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS veloc_media_nacional')
    cursor.execute('CREATE TABLE veloc_media_nacional (Año int ,Trimestre int, Media_Mbps Float(6.2), Trimestre_desc varchar(50))')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in veloc_media_nacional.iterrows():
        cursor.execute("INSERT INTO veloc_media_nacional (Año,Trimestre, Media_Mbps, Trimestre_desc) VALUES (%s, %s, %s, %s)",
                        (row['Año'], row['Trimestre'], row['Mbps (Media de bajada)'], row['Trimestre.1']))

    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

### Creamos la tabla y cargamos el dataset internet_fijo_tecno_loc en MySql

In [10]:
# internet_fijo_tecno_loc
# Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general

internet_fijo_tecno_loc = pd.read_csv('C:/Soy-Henry/Telecomunicaciones/Data/internet_fijo_tecno_loc.csv')

try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS internet_fijo_tecno_loc')
    cursor.execute('CREATE TABLE internet_fijo_tecno_loc (Provincia varchar(30) ,Partido varchar(50), Localidad varchar(100), Link_Indec varchar(10), ADSL int, CABLEMODEM int, DIAL_UP int, FIBRA_OPTICA int, OTROS int, SATELITAL int, WIMAX int, Wireless int)')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in internet_fijo_tecno_loc.iterrows():
        cursor.execute("INSERT INTO internet_fijo_tecno_loc (Provincia,Partido,Localidad,Link_Indec,ADSL,CABLEMODEM,DIAL_UP,FIBRA_OPTICA,OTROS,SATELITAL,WIMAX,Wireless) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)",
                        (row['Provincia'], row['Partido'], row['Localidad'], row['Link Indec'], row['ADSL'], row['CABLEMODEM'], row['DIAL UP'], row['FIBRA OPTICA'], row['OTROS'], row['SATELITAL'], row['WIMAX'], row['WIRELESS']))

    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

In [5]:
internet_bancha_bangosta_prov = pd.read_csv('C:/Soy-Henry/Telecomunicaciones/Data/internet_bancha_bangosta_prov.csv')

try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS internet_bancha_bangosta_prov')
    cursor.execute('CREATE TABLE internet_bancha_bangosta_prov (Año int ,Trimestre int ,Provincia varchar(50) ,Banda_ancha_fija int,Dial_up int)')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in internet_bancha_bangosta_prov.iterrows():
        cursor.execute("INSERT INTO internet_bancha_bangosta_prov (Año,Trimestre,Provincia,Banda_ancha_fija,Dial_up) VALUES (%s, %s, %s, %s, %s)",
                        (row['Año'], row['Trimestre'], row['Provincia'], row['Banda ancha fija'], row['Dial up']))

    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

In [7]:
Telefonia_movil = pd.read_csv('C:/Soy-Henry/Telecomunicaciones/Data/Telefonia_movil.csv')

try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS Telefonia_movil')
    cursor.execute('CREATE TABLE Telefonia_movil (Año int ,Trimestre int ,Accesos_100_hab int,Periodo varchar(50))')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in Telefonia_movil.iterrows():
        cursor.execute("INSERT INTO Telefonia_movil (Año,Trimestre,Accesos_100_hab,Periodo) VALUES (%s, %s, %s, %s)",
                        (row['Año'], row['Trimestre'], row['Accesos por cada 100 hab'], row['Periodo']))

    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

In [12]:
tv_penet_suscrip = pd.read_csv('C:\Soy-Henry\Telecomunicaciones\Data\Tv_penet_suscrip_cada100_hogares.csv')

try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS tv_penet_suscrip')
    cursor.execute('CREATE TABLE tv_penet_suscrip (Año int ,Trimestre int ,Provincia varchar(50),Accesos_TV_100_hab int,Accesos_TV_100_hogar int)')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in tv_penet_suscrip.iterrows():
        cursor.execute("INSERT INTO tv_penet_suscrip (Año,Trimestre, Provincia , Accesos_TV_100_hab,Accesos_TV_100_hogar) VALUES (%s, %s, %s, %s, %s)",
                        (row['Año'], row['Trimestre'], row['Provincia'], row['Accesos TV por suscripción por cada 100 hab'], row['Accesos TV por suscripción por cada 100 hogares']))

    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

In [14]:
Telefonia_movil_ingresos_trimestrales = pd.read_csv('C:\Soy-Henry\Telecomunicaciones\Data\Telefonia_movil_ingresos_trimestrales.csv')

try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS Telefonia_movil_ingresos_trimestrales')
    cursor.execute('CREATE TABLE Telefonia_movil_ingresos_trimestrales (Año int ,Trimestre int ,Ingresos_movil float(9.2),Periodo varchar(40))')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in Telefonia_movil_ingresos_trimestrales.iterrows():
        cursor.execute("INSERT INTO Telefonia_movil_ingresos_trimestrales (Año,Trimestre, Ingresos_movil , Periodo) VALUES (%s, %s, %s, %s)",
                        (row['Año'], row['Trimestre'], row['Ingresos (miles de $)'], row['Periodo']))

    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada

In [16]:
# Ing_trim__servicios_tv_paga.csv
# Año,Trimestre,Ingresos TV por suscripción  (miles de $),Ingresos TV satelital (miles de $)

Ing_trim__servicios_tv_paga = pd.read_csv('C:\Soy-Henry\Telecomunicaciones\Data\Ing_trim__servicios_tv_paga.csv')

try:
    conn = mysql.connector.connect(
        host='localhost',
        database='telecomunicaciones',
        user='root',
        password='1971@Raz51'
    )
except Error as e:
    print("Error al conectar a MySQL:", e)

try:
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS Ing_trim__servicios_tv_paga')
    cursor.execute('CREATE TABLE Ing_trim__servicios_tv_paga (Año int ,Trimestre int ,Ingresos_tv_sus float(9.2),Ingresos_tv_sat float(9.2))')
    print("Tabla creada exitosamente")
except Error as e:
    print("Error al crear la tabla:", e)
    
try:
    cursor = conn.cursor()
    for index, row in Ing_trim__servicios_tv_paga.iterrows():
        cursor.execute("INSERT INTO Ing_trim__servicios_tv_paga (Año,Trimestre, Ingresos_tv_sus , Ingresos_tv_sat) VALUES (%s, %s, %s, %s)",
                        (row['Año'], row['Trimestre'], row['Ingresos TV por suscripción  (miles de $)'], row['Ingresos TV satelital (miles de $)']))

    conn.commit()
    print("Datos cargados exitosamente")
except Error as e:
    print("Error al cargar los datos:", e)
    
if conn.is_connected():
    cursor.close()
    conn.close()
    print("Conexión a MySQL cerrada")

Tabla creada exitosamente
Datos cargados exitosamente
Conexión a MySQL cerrada